table#speelveld { table-layout:fixed;   margin:0 auto; }
table#speelveld td { cursor:pointer; text-align:center; color:white; font-size:large; font-weight:bold; }

@media only screen and (orientation:landscape) {
  table#speelveld { width:80vh; height:80vh; border-spacing:1vh;}
}
@media only screen and (orientation:portrait) {
  table#speelveld { width:70vw; height:70vw; border-spacing:1vw;}
}
td.inactive {
  background-color:red;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
td.active {
  background-color:green;

}
td.found{
  background-color:purple;
  cursor:default;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

td {
  border: 5px solid white;
  -webkit-border-radius: 50px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
