table#speelveld { table-layout:fixed;   margin:0 auto; }
table#speelveld td { cursor:pointer; text-align:center; color:white; font-size:large; font-weight:bold; }

@media only screen and (orientation:landscape) {
  table#speelveld { width:80vh; height:80vh; border-spacing:1vh;}
}
@media only screen and (orientation:portrait) {
  table#speelveld { width:70vw; height:70vw; border-spacing:1vw;}
}
td.inactive { background-color:red; }
td.active { background-color:green; }
td.found{ background-color:purple; cursor:default; }
